
form {
  height: 100%;
}

.add-value-form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: rgb(255, 17, 0);
    width: 100%;

    &-field-value {
      width: 30%;
      font-size: 15x;
      padding-left: 50px;
    }

    &-field-valueAmount {
      width: 40%;
      font-size: 14px;
      padding-right: 50px;
    }
  }

  &-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-field-valueReoccuring {
      width: 80%;
      font-size: 18px;
    }

    &-datePicker {
    }
  }

  .add-value-form-container-bottom {
    &-wrapper {
      width: 100%;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-dropdown-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        &-label {
          color: rgb(117, 119, 121);
          padding: 10px;
        }

        &-selector {
          width: 50%;
        }
      }

      &-dropdown-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
      &-label {
        color: rgb(117, 119, 121);
        padding: 10px;

        &-selector {
          width: 50%;
        }
      }
    }
  }

  &-btn {
    width: 50%;
    margin: 30px;
    border: none;
   background-color:  rgb(7, 141, 14) !important;
  }

  &-btn:hover {
    width: 50.5%;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(7, 141, 14) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(7, 141, 14) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(7, 141, 14) !important;
}