<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>

  <body class="dash-home">
    <div class="dash-home-grid">
      <div class="dash-home-grid-scrolling-container">
        <div
          *ngFor="let singleValue of singleValueList"
          class="dash-home-grid-scrolling-container-card"
        >
          <div class="dash-home-grid-scrolling-container-card-header">
            <h1
              class="dash-home-grid-scrolling-container-card-header-valueName"
            >
              {{ singleValue.valueName }}
            </h1>
          </div>
          <div class="dash-home-grid-scrolling-container-card-body">
            <div
              class="dash-home-grid-scrolling-container-card-body-gauge"
            ></div>
            <div class="dash-home-grid-scrolling-container-card-body-data">
              <ul
                class="dash-home-grid-scrolling-container-card-body-data-items"
              >
                <div
                  class="dash-home-grid-scrolling-container-card-body-data-items-value"
                >
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-value-label"
                  >
                    spnd Value:
                  </li>
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-value-amount"
                  >
                    {{ singleValue.valueAmount }}
                  </li>
                </div>

                <div
                  class="dash-home-grid-scrolling-container-card-body-data-items-current"
                >
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-current-label"
                  >
                    Current Value:
                  </li>
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-current-amount"
                  >
                    {{ singleValue.budgetedAmount }}
                  </li>
                </div>

                <div
                  class="dash-home-grid-scrolling-container-card-body-data-items-remaining"
                >
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-remaining-label"
                  >
                    Remaining Value:
                  </li>
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-remaining-amount"
                  ></li>
                </div>

                <div
                  class="dash-home-grid-scrolling-container-card-body-data-items-last"
                >
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-last-label"
                  >
                    last update:
                  </li>
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-last-amount"
                  >
                    {{ singleValue.lastUpdateAmount }}
                  </li>
                </div>

                <div
                  class="dash-home-grid-scrolling-container-card-body-data-items-frequency"
                >
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-frequency-label"
                  >
                    Frequency
                  </li>
                  <li
                    class="dash-home-grid-scrolling-container-card-body-data-items-frequency-amount"
                  >
                    {{ singleValue.budgetFrequency}}
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-home-grid-form-container">
        <app-add-value-form> </app-add-value-form>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
