.grid-container {
  margin: 20px;
}

mat-grid-list {
}

.scrollable-container {
  background-color: black !important;
}

//dashboard card container
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  text-align: center;
 background-color: rgba(208, 205, 241, 0.15);  


  // box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.35);
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;

  &-container {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centerr;
  }

  &-valueName {
    font-size: 15px;
    text-align: center;
    text-decoration: none !important;
    padding: 12px;
  }
}

//Gauge

.dashboard-card-content-gauge {
  width: 40%;
}

.dashboard-card-content-gauge-label {
  font-size: 25px;
}

//card data header
.data-header {
  &-title {
    color: purple;
    font-size: 12px;
  }
}

//card details
.card-data-grid {
  display: flex;
  width: 120%;
  background-color: rgb(94, 255, 0);
  border-radius: 20px;
  padding: 0;
  justify-content: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
 background-color: rgba(53, 2, 58, 0.15);  
 backdrop-filter: blur(10px) !important;




  &-details-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    // background-color: aqua;
    justify-self: start;
    padding-left: 0;
    padding: 20px;
    padding-bottom: 5px;

    

    &-amount-c {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
       color: rgb(0, 0, 0);
      }

     &-value {
        color: rgb(97, 114, 2);
      }
    }

    &-amount-b {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
       color: rgb(0, 2, 1);
      }

       &-value {
        color: rgb(97, 114, 2);
      }
    }

    &-amount-r {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        color: rgb(0, 0, 0);
      }

       &-value {
        color: rgb(12, 23, 114);
      }
    }

    &-amount-l {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        color: rgb(0, 5, 3);
      }
      &-value {
        color: green;
      }
    }
  }
}

// .card {
//     display: inline-block;
//   }

//  class="card"
// class="scrolling-wrapper"
