.grid-container {
  margin: 20px;
}

.scrollable-container {
  overflow: x !important;
  display: inline !important;
  overflow-y: hidden !important;
  background-color: black !important;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
}

//dashboard card container
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 25px;
  display: inline-block !important;
  text-align: center;

  // box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.35);
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;

  &-container {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centerr;
  }

  &-valueName {
    font-size: 30px;
    text-align: center;
    text-decoration: none !important;
  }
}

//Gauge

.dashboard-card-content-gauge {
  width: 25%;
}

.dashboard-card-content-gauge-label {
  font-size: 25px;
}

//card details

.card-data-grid {
  display: flex;
  width: 100%;

  &-details-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    background-color: aqua;
    justify-content: space-between;

    &-amount-c {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-value {
       
      }
    }
    &-amount-r {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-value {
        
      }
    }
  }
}

// .card {
//     display: inline-block;
//   }

//  class="card"
// class="scrolling-wrapper"
